@font-face {
    font-family: Kuunari;
    src: url(../font/kuunari-black-subset\ \(1\).woff2);
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: Big Shoulders Display;
    src: url(../font/BigShouldersDisplay-Bold-subset-AZ-09-punct.woff2);
    font-display: swap;
}

.description {
    padding-bottom: 40px;
}

.description__container {
    max-width: 440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description__box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 18px;
    background-color: white;
    border-radius: 25px;
    padding: 20px 16px 0;
    max-width: 336px;
    width: 100%;
    margin-bottom: 20px;
}

.description__col {
    display: flex;
    align-items: center;
    gap: 10px;
}

.description__col__text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: clamp(14.5px, 4.6vw, 16px);
    line-height: 140%;
}
.description__images {
    margin: 0 auto;
    display: flex;
    margin-left: -40px;
}
@media (max-width:340px) {
    .description__images {
        margin-left: -55px;
    }
}